.cardDetails {
    text-align: center;
    padding-top: 5%;
    color: aliceblue;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

button {
    padding: 10px 20px;
}

.button-five {
    background-color: darkgray;
    border-radius: 20px;
    color: aliceblue;
}

img{
    width: auto;
    height: 250px;
    border-radius: 50%;
}